html, body {
	height: 100%;
	background-color: white;
}
body {
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: black;
}
#page {
	position: relative;
	height: 620px;
	width: 960px;
	margin: 0 auto;
	background: transparent url('../images/bg_main.png') no-repeat scroll center 264px;
}
#left-bg, #right-bg {
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
}
#left-bg {
	left: 0;
	background: transparent url('../images/bg_left_repeat.png') repeat-x scroll left 264px;
}
#right-bg {
	left: 50%;
	background: transparent url('../images/bg_right_repeat.png') repeat-x scroll left 264px;
}

.bb {
	display: none;
	position: absolute;
	background: transparent url() no-repeat scroll left top;
}
.bb.active {
	z-index: 100;
}
.bb.active:hover {
	cursor: pointer;
}
#bb-inactive-1 {
	top: 151px;
	left: 246px;
	width: 96px;
	height: 96px;
	background-image: url('../images/bb_inactive_1.png');
}
#bb-inactive-2 {
	top: 79px;
	left: 430px;
	width: 108px;
	height: 108px;
	background-image: url('../images/bb_inactive_2.png');
}
#bb-inactive-3 {
	top: 37px;
	left: 483px;
	width: 108px;
	height: 108px;
	background-image: url('../images/bb_inactive_3.png');
}
#bb-inactive-4 {
	top: 164px;
	left: 647px;
	width: 25px;
	height: 25px;
	background-image: url('../images/bb_inactive_4.png');
}
#bb-inactive-5 {
	top: 261px;
	left: 685px;
	width: 25px;
	height: 25px;
	background-image: url('../images/bb_inactive_5.png');
}
#bb-inactive-6 {
	top: 294px;
	left: 705px;
	width: 58px;
	height: 58px;
	background-image: url('../images/bb_inactive_6.png');
}
#bb-inactive-7 {
	top: 526px;
	left: 589px;
	width: 46px;
	height: 46px;
	background-image: url('../images/bb_inactive_7.png');
}
#bb-inactive-8 {
	top: 481px;
	left: 297px;
	width: 90px;
	height: 90px;
	background-image: url('../images/bb_inactive_8.png');
}
#bb-active-1 {
		top: 360px;
		left: 128px;
		width: 142px;
		height: 142px;
		background-image: url('../images/bb_active_1.png');
	}
	#bb-active-1 .bb-title {
		top: -20px;
		right: 50%;
	}
#bb-active-2 {
		top: 82px;
		left: 660px;
		width: 134px;
		height: 134px;
		background-image: url('../images/bb_active_2.png');
	}
	#bb-active-2 .bb-title {
		top: 16px;
		left: 50%;
		margin-left: -60px;
	}
#bb-active-3 {
		top: 490px;
		left: 500px;
		width: 31px;
		height: 31px;
		background-image: url('../images/bb_active_3.png');
	}
	#bb-active-3 .bb-title {
		bottom: -20px;
		left: -;
		width: 100px;
		margin-left: -50px;
	}

.bb-title {
	display: none;
	position: absolute;
	width: 120px;
	text-align: center;
	letter-spacing: 0.2em;
}

.content-pane {
	position: absolute;
	overflow: hidden;
	padding: 6px;
	border: 1px solid #c7c7c7;
	background-color: white;
}
#contact {
	width: 200px;
	bottom: 30px;
	left: 36px;
}
#about {
	width: 360px;
	bottom: 30px;
	left: 36px;
}
#sounds {
	width: 200px;
	top: 30px;
	right: 36px;
}
