<div id="matter" class="content-pane">
	<p>A l'instar des autres sens, l'ouïe possède sa mémoire propre. Traces de sons d'une véritable vie auditive, les bruits, les timbres, les harmonies, sont porteurs d'affects, ce qui leur confère un impact émotionnel immédiat.</p>
	<p>Aussi chaque projet mérite-t-il un travail approfondi sur les idées, afin d'aller au plus près de ce que vous souhaitez percevoir / entendre / dire. Toute création sonore, de la plus simple à la plus élaborée, doit être porteuse de sens.</p>
	<p>Le son est un outil complexe et puissant, son langage est émotionnel donc universel.</p>
</div>