<div id="project" class="content-pane">
	<p>Ce que je propose, une démarche en 3 étapes :</p>
	<ul>
 	 <li>réflexions autour du projet : déterminer son langage, ses caractéristiques, son but</li>
	 <li>la réalisation de 3 approches concrètes possibles</li>
	 <li>à partir de votre choix, l'élaboration finale</li>
	</ul>
</div>