<div id="project" class="content-pane">
  <p>Je vous propose de créer des musiques, fonds sonores ou habillages sonores pour sites web, produits multimédias, publicités, vidéos, films, films d'animation, jeux vidéos, spectacles, événementiel... Il s'agit de créations originales travaillées sur logiciels de musique assistée par ordinateur, purement numériques ou à partir d'enregistrements.</p>
  <p>A partir des caractéristiques de votre projet, j'élabore des propositions, des pistes de travail afin que la réalisation finale résulte d'un véritable échange.</p>
</div>