<div class="bb" id="bb-inactive-2"></div>
<div class="bb" id="bb-inactive-3"></div>
<div class="bb" id="bb-inactive-4"></div>
<div class="bb" id="bb-inactive-5"></div>
<div class="bb" id="bb-inactive-6"></div>
<div class="bb" id="bb-inactive-7"></div>
<div class="bb" id="bb-inactive-8"></div>
<div class="bb active" id="bb-active-matter">
  <h1 class="bb-title">la matière sonore</h1>
  <%= render 'matter' %>
</div>
<div class="bb active" id="bb-active-project">
  <h1 class="bb-title">votre projet</h1>
  <%= render 'project' %>
</div>
<div class="bb active" id="bb-active-contact">
  <h1 class="bb-title">me contacter</h1>
  <%= render 'contact' %>
</div>
<div class="bb active" id="bb-active-sounds">
  <h1 class="bb-title">écouter</h1>
  <%= render 'sounds' %>
</div>
