<div class="bb" id="bb-inactive-2"></div>
<div class="bb" id="bb-inactive-3"></div>
<div class="bb" id="bb-inactive-4"></div>
<div class="bb" id="bb-inactive-5"></div>
<div class="bb" id="bb-inactive-6"></div>
<div class="bb" id="bb-inactive-7"></div>
<div class="bb" id="bb-inactive-8"></div>
<div class="bb active" id="bb-active-matter">
	<div class="bb-title">La matière sonore</div>
	<%= render 'matter' %>
</div>
<div class="bb active" id="bb-active-project">
	<div class="bb-title">Votre projet</div>
	<%= render 'project' %>
</div>
<div class="bb active" id="bb-active-sounds">
	<div class="bb-title">Ecouter</div>
	<%= render 'sounds' %>
</div>
<div class="bb active" id="bb-active-contact">
	<div class="bb-title">Me contacter</div>
	<%= render 'contact' %>
</div>

