<title>trace de son - benjamin magnin - design sonore</title>
<meta name="description" content="Création sonore, composition de musiques pour vidéo, spectacle, site web, jeu vidéo, publicité...">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%= stylesheet_link_tag 'reset-min-3.1.1', 'style', 'http://fonts.googleapis.com/css?family=Ubuntu' %>
<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js' %>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<%= csrf_meta_tag %>

