<!DOCTYPE html>
<html>
<head>
  <title>trace de son</title>
  <%= stylesheet_link_tag 'reset-min-3.1.1', 'style', 'pretty-photo' %>
  <%= javascript_include_tag 'jquery-1.4.2', 'mootools-1.2.4-base', 'Class.Mutators.jQuery', 'home', 'soundmanager/soundmanager2', 'soundcloud.player.api', 'sc-player', 'jquery.prettyPhoto' %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= csrf_meta_tag %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-10704744-6']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
<div id="left-bg">&nbsp;</div>
<div id="right-bg"></div>
<div id="page">
<%= yield %>
</div>
<div id="trame-control"></div>
</body>
</html>
