<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/header_common' %>
  <%= render 'layouts/analytics' %>
</head>
<body>
<div id="intro-page">
<%= yield %>
</div>
<%= link_to "Passer l'intro", home_path, :id => 'skip-intro' %>
</body>
</html>
